---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ministrycentered/reviewbot/issues/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1534974855'
      Etag:
      - W/"db9608f74862dd45a960fd9e39bb46a7"
      Last-Modified:
      - Tue, 21 Aug 2018 16:29:27 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/ministrycentered/reviewbot/issues/3","repository_url":"https://api.github.com/repos/ministrycentered/reviewbot","labels_url":"https://api.github.com/repos/ministrycentered/reviewbot/issues/3/labels{/name}","comments_url":"https://api.github.com/repos/ministrycentered/reviewbot/issues/3/comments","events_url":"https://api.github.com/repos/ministrycentered/reviewbot/issues/3/events","html_url":"https://github.com/ministrycentered/reviewbot/pull/3","id":352619120,"node_id":"MDExOlB1bGxSZXF1ZXN0MjA5ODg1MzMz","number":3,"title":"Rspec
        setup","user":{"login":"awortham","id":6271986,"node_id":"MDQ6VXNlcjYyNzE5ODY=","avatar_url":"https://avatars0.githubusercontent.com/u/6271986?v=4","gravatar_id":"","url":"https://api.github.com/users/awortham","html_url":"https://github.com/awortham","followers_url":"https://api.github.com/users/awortham/followers","following_url":"https://api.github.com/users/awortham/following{/other_user}","gists_url":"https://api.github.com/users/awortham/gists{/gist_id}","starred_url":"https://api.github.com/users/awortham/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/awortham/subscriptions","organizations_url":"https://api.github.com/users/awortham/orgs","repos_url":"https://api.github.com/users/awortham/repos","events_url":"https://api.github.com/users/awortham/events{/privacy}","received_events_url":"https://api.github.com/users/awortham/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2018-08-21T16:29:27Z","updated_at":"2018-08-21T16:29:27Z","closed_at":null,"author_association":"NONE","pull_request":{"url":"https://api.github.com/repos/ministrycentered/reviewbot/pulls/3","html_url":"https://github.com/ministrycentered/reviewbot/pull/3","diff_url":"https://github.com/ministrycentered/reviewbot/pull/3.diff","patch_url":"https://github.com/ministrycentered/reviewbot/pull/3.patch"},"body":null,"closed_by":null}'
  recorded_at: Wed, 22 Aug 2018 20:57:34 GMT
recorded_with: VCR 4.0.0
