---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ministrycentered/reviewbot/issues/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1535392591'
      Etag:
      - W/"7fee92f69c3cd8053b8d62950edc2cf9"
      Last-Modified:
      - Mon, 20 Aug 2018 21:43:26 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/ministrycentered/reviewbot/issues/1","repository_url":"https://api.github.com/repos/ministrycentered/reviewbot","labels_url":"https://api.github.com/repos/ministrycentered/reviewbot/issues/1/labels{/name}","comments_url":"https://api.github.com/repos/ministrycentered/reviewbot/issues/1/comments","events_url":"https://api.github.com/repos/ministrycentered/reviewbot/issues/1/events","html_url":"https://github.com/ministrycentered/reviewbot/pull/1","id":352306007,"node_id":"MDExOlB1bGxSZXF1ZXN0MjA5NjUxMTU2","number":1,"title":"bogus","user":{"login":"awortham","id":6271986,"node_id":"MDQ6VXNlcjYyNzE5ODY=","avatar_url":"https://avatars0.githubusercontent.com/u/6271986?v=4","gravatar_id":"","url":"https://api.github.com/users/awortham","html_url":"https://github.com/awortham","followers_url":"https://api.github.com/users/awortham/followers","following_url":"https://api.github.com/users/awortham/following{/other_user}","gists_url":"https://api.github.com/users/awortham/gists{/gist_id}","starred_url":"https://api.github.com/users/awortham/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/awortham/subscriptions","organizations_url":"https://api.github.com/users/awortham/orgs","repos_url":"https://api.github.com/users/awortham/repos","events_url":"https://api.github.com/users/awortham/events{/privacy}","received_events_url":"https://api.github.com/users/awortham/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":2,"created_at":"2018-08-20T21:38:29Z","updated_at":"2018-08-20T21:43:26Z","closed_at":null,"author_association":"NONE","pull_request":{"url":"https://api.github.com/repos/ministrycentered/reviewbot/pulls/1","html_url":"https://github.com/ministrycentered/reviewbot/pull/1","diff_url":"https://github.com/ministrycentered/reviewbot/pull/1.diff","patch_url":"https://github.com/ministrycentered/reviewbot/pull/1.patch"},"body":"So
        bogus","closed_by":null}'
  recorded_at: Mon, 27 Aug 2018 16:58:45 GMT
recorded_with: VCR 4.0.0
