---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ministrycentered/reviewbot/pulls?access_token=<TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1535392591'
      Etag:
      - W/"fd698c698926e148f6aa5da2bfaf067d"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/ministrycentered/reviewbot/pulls/3","id":209885333,"node_id":"MDExOlB1bGxSZXF1ZXN0MjA5ODg1MzMz","html_url":"https://github.com/ministrycentered/reviewbot/pull/3","diff_url":"https://github.com/ministrycentered/reviewbot/pull/3.diff","patch_url":"https://github.com/ministrycentered/reviewbot/pull/3.patch","issue_url":"https://api.github.com/repos/ministrycentered/reviewbot/issues/3","number":3,"state":"open","locked":false,"title":"Rspec
        setup","user":{"login":"awortham","id":6271986,"node_id":"MDQ6VXNlcjYyNzE5ODY=","avatar_url":"https://avatars0.githubusercontent.com/u/6271986?v=4","gravatar_id":"","url":"https://api.github.com/users/awortham","html_url":"https://github.com/awortham","followers_url":"https://api.github.com/users/awortham/followers","following_url":"https://api.github.com/users/awortham/following{/other_user}","gists_url":"https://api.github.com/users/awortham/gists{/gist_id}","starred_url":"https://api.github.com/users/awortham/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/awortham/subscriptions","organizations_url":"https://api.github.com/users/awortham/orgs","repos_url":"https://api.github.com/users/awortham/repos","events_url":"https://api.github.com/users/awortham/events{/privacy}","received_events_url":"https://api.github.com/users/awortham/received_events","type":"User","site_admin":false},"body":null,"created_at":"2018-08-21T16:29:27Z","updated_at":"2018-08-21T16:29:27Z","closed_at":null,"merged_at":null,"merge_commit_sha":"bf11620de77423a0f9cbd26c2ebe1a59f624ee14","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"commits_url":"https://api.github.com/repos/ministrycentered/reviewbot/pulls/3/commits","review_comments_url":"https://api.github.com/repos/ministrycentered/reviewbot/pulls/3/comments","review_comment_url":"https://api.github.com/repos/ministrycentered/reviewbot/pulls/comments{/number}","comments_url":"https://api.github.com/repos/ministrycentered/reviewbot/issues/3/comments","statuses_url":"https://api.github.com/repos/ministrycentered/reviewbot/statuses/985e635198c13d9b006fd8fb8d2f36a059e7e672","head":{"label":"ministrycentered:add-specs","ref":"add-specs","sha":"985e635198c13d9b006fd8fb8d2f36a059e7e672","user":{"login":"ministrycentered","id":119,"node_id":"MDEyOk9yZ2FuaXphdGlvbjExOQ==","avatar_url":"https://avatars0.githubusercontent.com/u/119?v=4","gravatar_id":"","url":"https://api.github.com/users/ministrycentered","html_url":"https://github.com/ministrycentered","followers_url":"https://api.github.com/users/ministrycentered/followers","following_url":"https://api.github.com/users/ministrycentered/following{/other_user}","gists_url":"https://api.github.com/users/ministrycentered/gists{/gist_id}","starred_url":"https://api.github.com/users/ministrycentered/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ministrycentered/subscriptions","organizations_url":"https://api.github.com/users/ministrycentered/orgs","repos_url":"https://api.github.com/users/ministrycentered/repos","events_url":"https://api.github.com/users/ministrycentered/events{/privacy}","received_events_url":"https://api.github.com/users/ministrycentered/received_events","type":"Organization","site_admin":false},"repo":{"id":145472084,"node_id":"MDEwOlJlcG9zaXRvcnkxNDU0NzIwODQ=","name":"reviewbot","full_name":"ministrycentered/reviewbot","owner":{"login":"ministrycentered","id":119,"node_id":"MDEyOk9yZ2FuaXphdGlvbjExOQ==","avatar_url":"https://avatars0.githubusercontent.com/u/119?v=4","gravatar_id":"","url":"https://api.github.com/users/ministrycentered","html_url":"https://github.com/ministrycentered","followers_url":"https://api.github.com/users/ministrycentered/followers","following_url":"https://api.github.com/users/ministrycentered/following{/other_user}","gists_url":"https://api.github.com/users/ministrycentered/gists{/gist_id}","starred_url":"https://api.github.com/users/ministrycentered/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ministrycentered/subscriptions","organizations_url":"https://api.github.com/users/ministrycentered/orgs","repos_url":"https://api.github.com/users/ministrycentered/repos","events_url":"https://api.github.com/users/ministrycentered/events{/privacy}","received_events_url":"https://api.github.com/users/ministrycentered/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/ministrycentered/reviewbot","description":"Send
        reminders to team members to review PRs","fork":true,"url":"https://api.github.com/repos/ministrycentered/reviewbot","forks_url":"https://api.github.com/repos/ministrycentered/reviewbot/forks","keys_url":"https://api.github.com/repos/ministrycentered/reviewbot/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ministrycentered/reviewbot/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ministrycentered/reviewbot/teams","hooks_url":"https://api.github.com/repos/ministrycentered/reviewbot/hooks","issue_events_url":"https://api.github.com/repos/ministrycentered/reviewbot/issues/events{/number}","events_url":"https://api.github.com/repos/ministrycentered/reviewbot/events","assignees_url":"https://api.github.com/repos/ministrycentered/reviewbot/assignees{/user}","branches_url":"https://api.github.com/repos/ministrycentered/reviewbot/branches{/branch}","tags_url":"https://api.github.com/repos/ministrycentered/reviewbot/tags","blobs_url":"https://api.github.com/repos/ministrycentered/reviewbot/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ministrycentered/reviewbot/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ministrycentered/reviewbot/git/refs{/sha}","trees_url":"https://api.github.com/repos/ministrycentered/reviewbot/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ministrycentered/reviewbot/statuses/{sha}","languages_url":"https://api.github.com/repos/ministrycentered/reviewbot/languages","stargazers_url":"https://api.github.com/repos/ministrycentered/reviewbot/stargazers","contributors_url":"https://api.github.com/repos/ministrycentered/reviewbot/contributors","subscribers_url":"https://api.github.com/repos/ministrycentered/reviewbot/subscribers","subscription_url":"https://api.github.com/repos/ministrycentered/reviewbot/subscription","commits_url":"https://api.github.com/repos/ministrycentered/reviewbot/commits{/sha}","git_commits_url":"https://api.github.com/repos/ministrycentered/reviewbot/git/commits{/sha}","comments_url":"https://api.github.com/repos/ministrycentered/reviewbot/comments{/number}","issue_comment_url":"https://api.github.com/repos/ministrycentered/reviewbot/issues/comments{/number}","contents_url":"https://api.github.com/repos/ministrycentered/reviewbot/contents/{+path}","compare_url":"https://api.github.com/repos/ministrycentered/reviewbot/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ministrycentered/reviewbot/merges","archive_url":"https://api.github.com/repos/ministrycentered/reviewbot/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ministrycentered/reviewbot/downloads","issues_url":"https://api.github.com/repos/ministrycentered/reviewbot/issues{/number}","pulls_url":"https://api.github.com/repos/ministrycentered/reviewbot/pulls{/number}","milestones_url":"https://api.github.com/repos/ministrycentered/reviewbot/milestones{/number}","notifications_url":"https://api.github.com/repos/ministrycentered/reviewbot/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ministrycentered/reviewbot/labels{/name}","releases_url":"https://api.github.com/repos/ministrycentered/reviewbot/releases{/id}","deployments_url":"https://api.github.com/repos/ministrycentered/reviewbot/deployments","created_at":"2018-08-20T21:25:22Z","updated_at":"2018-08-21T17:26:17Z","pushed_at":"2018-08-22T20:58:31Z","git_url":"git://github.com/ministrycentered/reviewbot.git","ssh_url":"git@github.com:ministrycentered/reviewbot.git","clone_url":"https://github.com/ministrycentered/reviewbot.git","svn_url":"https://github.com/ministrycentered/reviewbot","homepage":null,"size":180,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":3,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"forks":0,"open_issues":3,"watchers":0,"default_branch":"master"}},"base":{"label":"ministrycentered:master","ref":"master","sha":"e02dc48c1cb50134fae96d31a9ea5cf24290e7c1","user":{"login":"ministrycentered","id":119,"node_id":"MDEyOk9yZ2FuaXphdGlvbjExOQ==","avatar_url":"https://avatars0.githubusercontent.com/u/119?v=4","gravatar_id":"","url":"https://api.github.com/users/ministrycentered","html_url":"https://github.com/ministrycentered","followers_url":"https://api.github.com/users/ministrycentered/followers","following_url":"https://api.github.com/users/ministrycent[...]
