---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ministrycentered/reviewbot/pulls/1/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1535392591'
      Etag:
      - W/"9928f53c3947cf9a71e197d47593d8ca"
      X-Github-Media-Type:
      - github.v3; param=black-cat-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":147834038,"node_id":"MDE3OlB1bGxSZXF1ZXN0UmV2aWV3MTQ3ODM0MDM4","user":{"login":"glosie","id":5737,"node_id":"MDQ6VXNlcjU3Mzc=","avatar_url":"https://avatars1.githubusercontent.com/u/5737?v=4","gravatar_id":"","url":"https://api.github.com/users/glosie","html_url":"https://github.com/glosie","followers_url":"https://api.github.com/users/glosie/followers","following_url":"https://api.github.com/users/glosie/following{/other_user}","gists_url":"https://api.github.com/users/glosie/gists{/gist_id}","starred_url":"https://api.github.com/users/glosie/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/glosie/subscriptions","organizations_url":"https://api.github.com/users/glosie/orgs","repos_url":"https://api.github.com/users/glosie/repos","events_url":"https://api.github.com/users/glosie/events{/privacy}","received_events_url":"https://api.github.com/users/glosie/received_events","type":"User","site_admin":false},"body":"","state":"COMMENTED","html_url":"https://github.com/ministrycentered/reviewbot/pull/1#pullrequestreview-147834038","pull_request_url":"https://api.github.com/repos/ministrycentered/reviewbot/pulls/1","author_association":"MEMBER","_links":{"html":{"href":"https://github.com/ministrycentered/reviewbot/pull/1#pullrequestreview-147834038"},"pull_request":{"href":"https://api.github.com/repos/ministrycentered/reviewbot/pulls/1"}},"submitted_at":"2018-08-20T21:43:03Z","commit_id":"9a57c108c1a0c7fe619bc6f40e8998a3b9deeeec"},{"id":147834141,"node_id":"MDE3OlB1bGxSZXF1ZXN0UmV2aWV3MTQ3ODM0MTQx","user":{"login":"geolessel","id":385726,"node_id":"MDQ6VXNlcjM4NTcyNg==","avatar_url":"https://avatars1.githubusercontent.com/u/385726?v=4","gravatar_id":"","url":"https://api.github.com/users/geolessel","html_url":"https://github.com/geolessel","followers_url":"https://api.github.com/users/geolessel/followers","following_url":"https://api.github.com/users/geolessel/following{/other_u[...]
